.container{
    width: 1000px;
    padding: 0;
}

.site{
    background: url(../img/bg_subtop.jpg) repeat-x top center;
    width: 100%;
}

.header{
    height: 80px;
    width: 100%;
    border-radius: 5px;
    background: #35a8e6;
    margin-top: 25px;
}

.logo{
    float: left;
    width: 180px;
    overflow: hidden;
    background: url(../img/logo.png) no-repeat center center;
    background-size: contain;
    width: 180px;
    height: 80px;
    margin: 0 10px;
}

.logo h1{
    text-indent: -10000px;
}

.menu{
    float: left;
    text-align: center;
    width: 80%;
    box-sizing: border-box;
}

.menu,.sub, .menu li, .langs li{
    list-style:none;
    margin:0;
    padding:0;
}

.menu > li{
    float: left;
}

.menu > li > a{
    display: inline-block;
    position: relative;
    background: #95d3f3;
    padding: 15px;
    width: 150px;
    margin-top: 28px;
    margin-left: 1px;
    opacity: 1;
    color: #fff;
    /*text-shadow: #000 0 0 1px;*/
    font-size: 16px;
    text-decoration: none;
}

.menu > li > a:hover, .menu > li > a.active{
    background: #fff;
    color: #2098d1;
}

.menu .sub{
    position: absolute;
    width:100%;
    bottom: -35px;
    opacity: 0;
    transition: all .5s;
}

.menu .sub a{
    float: left;
    display:inline-block;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}

.menu .sub a:hover{
    color: rgb(0, 184, 255);
}

.menu > li:hover .sub{
    bottom: -12px;
    opacity: 1;
}

.langs{
    float: right;
    font-size: 10px;
    margin-top: -35px;
    margin-right: 15px;
}

.langs li a{
    float: left;
    display: inline-block;
    color: #fff;
}

.article{
    margin-top: 30px;
}


.article .title h2{
    color:#2098d1;
}

.article .title .sub{
    margin-top: 35px;
    color: #888;
    margin-left: 20px;
    font-size: 12px;
}

.article .line{
    border-bottom: 3px solid #35a8e6;
    border-radius: 5px;
}

.article .content h3{
    font-size: 22px;
}

.article .content p{
    font-size: 13px;
    line-height: 1.7;
}

.article .content img{
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.article .content .imglist div{
    padding-left: 2px;
    padding-right: 2px;
}

.footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #888;
    font-size: 12px;
}