
<div class="header">
    <div class="row">
        <div class="col-md-12">
            <a href="http://www.condomcn.com">
                <div class="logo">
                    <h1>CondemCN</h1>
                </div>
            </a>
            {% if page.lang == "cn" %}

            {% assign company="公司" %}
            {% assign product="产品展示" %}
            {% assign strength="实力" %}
            {% assign cooperation="合作" %}
            {% assign contact="联系我们" %}

            {% assign sub21="避孕套" %}
            {% assign sub22="润滑剂" %}
            {% assign sub23="试纸" %}

            {% assign sub31="技术" %}
            {% assign sub32="证书" %}
            {% assign sub33="与其他品牌比较" %}

            {% assign sub41="案例" %}
            {% assign sub42="合作内容" %}

            {% assign link1="/kr/" %}
            {% assign label1="KR" %}
            {% assign link2="/en/" %}
            {% assign label2="EN" %}

            {% elsif page.lang == "en" %}

            {% assign company="company" %}
            {% assign product="product" %}
            {% assign strength="technology" %}
            {% assign cooperation="cooperation" %}
            {% assign contact="contact us" %}

            {% assign sub21="避孕套" %}
            {% assign sub22="润滑剂" %}
            {% assign sub23="试纸" %}

            {% assign sub31="技术" %}
            {% assign sub32="证书" %}
            {% assign sub33="与其他品牌比较" %}

            {% assign sub41="案例" %}
            {% assign sub42="合作内容" %}

            {% assign link1="/kr/" %}
            {% assign label1="KR" %}
            {% assign link2="/" %}
            {% assign label2="CN" %}

            {% elsif page.lang == "kr" %}

            {% assign company="회사" %}
            {% assign product="제품" %}
            {% assign strength="실력" %}
            {% assign cooperation="협력" %}
            {% assign contact="연락" %}

            {% assign sub21="避孕套" %}
            {% assign sub22="润滑剂" %}
            {% assign sub23="试纸" %}

            {% assign sub31="技术" %}
            {% assign sub32="证书" %}
            {% assign sub33="与其他品牌比较" %}

            {% assign sub41="案例" %}
            {% assign sub42="合作内容" %}

            {% assign link1="/en/" %}
            {% assign label1="EN" %}
            {% assign link2="/" %}
            {% assign label2="CN" %}

            {%endif%}

            <ul class="menu">
                <li>
                    <a href="index.html"{% if include.param == "company"%} class="active"{% endif %}>{{company}}</a>
                </li>
                <li>
                    <a href="product.html"{% if include.param == "product"%} class="active"{% endif %}>{{product}}</a>

                                    
                    <ul class="sub">
                        <li><a href="#">{{sub21}}</a></li>
                        <li><a href="#">{{sub22}}</a></li>
                        <li><a href="#">{{sub23}}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="strength.html"{% if include.param == "strength"%} class="active"{% endif %}>{{strength}}</a>
                                    
                    <ul class="sub">
                        <li><a href="#">{{sub31}}</a></li>
                        <li><a href="#">{{sub32}}</a></li>
                        <li><a href="#">{{sub33}}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="cooperation.html"{% if include.param == "cooperation"%} class="active"{% endif %}>{{cooperation}}</a>
                                    
                    <ul class="sub">
                        <li><a href="#">{{sub41}}</a></li>
                        <li><a href="#">{{sub42}}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html"{% if include.param == "contact"%} class="active"{% endif %}>{{contact}}</a>
                </li>
            </ul>
            
            <ul class="langs">
                <li><a href="{{ link1 }}">{{ label1 }}</a></li>
                <li><a href="{{ link2 }}">{{ label2 }}</a></li>
            </ul>
        </div>
    </div>
</div>